header,
footer,
nav,
.boards-container {
  padding: 1rem;
}

header,
footer {
  height: 5vh;
  min-height: 40px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  height: 10vh;
  border: 1px solid red;
  min-height: 75px;
}

.boards-container {
  min-height: 80vh;
  border: 1px solid blue;
}

.centered-div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
