header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header button {
  padding: 0.5rem 0.75rem;
}

header button:hover {
  background-color: #2a2a2a;
}

header img {
  width: 70px;
  height: 70px;
  object-fit: cover;
}

/* Home Navigation */

.home-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-nav form,
.home-nav .right-nav {
  display: flex;
  gap: 1rem;
}

.search-bar,
.right-nav select {
  padding: 0.5rem 1rem;
  border: 1px solid #2a2a2a;
  border-radius: 30px;
}

.submit-button:hover,
.add-button:hover,
.upvote-button:hover {
  background-color: rgb(0, 133, 60);
}

.clear-button:hover,
.delete-button:hover {
  background-color: rgb(133, 0, 0);
}

.submit-button,
.add-button,
.upvote-button {
  background-color: rgba(36, 131, 79, 0.5);
}

.clear-button,
.delete-button {
  background-color: rgb(133, 0, 0, 0.5);
}

.view-button:hover {
  background-color: rgb(0, 73, 133);
}

.view-button {
  background-color: rgb(0, 73, 133, 0.5);
}

.submit-button,
button {
  padding: 0 0.75rem;
  border-radius: 30px;
  border: 1px solid #2a2a2a;
  cursor: pointer;
}

.right-nav select {
  width: 150px;
}

.add-button {
  border-radius: 50%;
  border: 1px solid #2a2a2a;
  width: 40px;
  height: 40px;
}

/* Board Card & Board Container */
.boards-container,
.kudos-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.board-card,
.kudo-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #2a2a2a;
  width: 250px;
  height: 400px;
  border-radius: 30px;
}

.board-card img,
.kudo-card img {
  border-radius: 30px;
  width: 100%;
  height: 280px;
  object-fit: contain;
}

.board-card .info-container,
.board-card .button-container {
  gap: 1rem;
  border-radius: 30px;
  height: 60px;
  display: flex;
  align-items: center;
  text-align: center;
}

.board-card .info-container,
.kudo-card .kudo-info,
.kudo-card .kudo-owner {
  flex-direction: column;
  justify-content: center;
}

.board-card .button-container,
.kudo-card .kudo-buttons {
  justify-content: space-around;
}

.board-card .button-container button,
.kudo-card .kudo-buttons button {
  padding: 0.5rem;
}

.kudo-buttons {
  width: 95%;
  border-radius: 30px;
}

.link {
  text-decoration: none;
  color: white;
}

/* Board Page Styling */
.board-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.kudo-card .kudo-buttons,
.kudo-card .kudo-owner,
.kudo-card .kudo-info {
  border-radius: 30px;
  display: flex;
  align-items: center;
}

.kudo-card .kudo-info {
  height: 80px;
}

.kudo-card .kudo-buttons {
  height: 50px;
}

/*
Modal
*/
.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #2a2a2a;
  border-radius: 1rem;
  width: 80%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  gap: 1rem;
}

.modal-content form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.modal-content label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
}

.close-container {
  width: 100%;
  display: flex;
}

.close-container i:hover {
  color: red;
  cursor: pointer;
}

.closed {
  display: none;
}

.open {
  display: block;
}

.searches-gifs-container img {
  width: 100px;
  height: 100px;
}
